
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo : #ee7cdf;
    --cor-de-Texto : #FF00E5 ; 
    --cor-de-textoo : #7C20F1; 
--cor-das-letras: #FFFFFF;
}
body{
background-color: var(--cor-de-fundo)

}